{% extends "ModuleRegistrationSystem/base.html" %}
{% block content %}
    <h1>About us</h1>

    <div class="article-metadata">
        <a name="mission"></a>
        <h2>Different sections</h2>
            <p>Want to skip to a specific section of the page? Use these links below.</p>
            <a href="#mission">link to our missions section</a>
    </br>
            <a href="#promise">link to our promises section</a>
    </br>
            <a href="#events">link to our events section</a>
    </br>
        
    </div>

    <div class="article-metadata">
        <a name="mission"></a>
        <h2>Our mission</h2>
        <p></p>
    </div>

    <div class="article-metadata">
        <a name="promise"></a>
        <h2>Our promise</h2>
        <p></p>
    </div>

    <div class="article-metadata">
        <a name="events"></a>
        <h2>Events</h2>
        <p></p>
    </div>




{% endblock content %}
</body>
</html>