{% extends "ModuleRegistrationSystem/base.html" %}
{% block content %}
    <h1>About us</h1>

    <div class="article-metadata">
        <a name="mission"></a>
        <h2>Different sections</h2>
            <p>Want to skip to a specific section of the page? Use these links below.</p>
            <a href="#mission">link to our missions section</a>
    </br>
            <a href="#promise">link to our promises section</a>
    </br>
            <a href="#events">link to our events section</a>
    </br>
        
    </div>

    <div class="article-metadata">
        <a name="mission"></a>
        <h2>Our mission</h2>
        <p>At Sheffield Hallam University, our valued staff members, teachers, professors and members have pledged to maintain and protect all that we care about; you, the students.
            Sheffield Hallam University's mission is to ensure you receive a strong and solid education for your future careers, and acquire all the skills and abilities you need to succeed.
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget felis eget nunc lobortis mattis aliquam faucibus purus in. Rutrum tellus pellentesque eu tincidunt tortor. Nisl nisi scelerisque eu ultrices vitae auctor eu. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Viverra vitae congue eu consequat ac felis donec. Pulvinar elementum integer enim neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Et tortor consequat id porta. Nunc eget lorem dolor sed. Et magnis dis parturient montes nascetur ridiculus mus mauris vitae. Bibendum neque egestas congue quisque. Dui id ornare arcu odio. Vel orci porta non pulvinar. Integer enim neque volutpat ac tincidunt vitae semper.

            Amet tellus cras adipiscing enim eu turpis egestas. Massa placerat duis ultricies lacus. Amet facilisis magna etiam tempor orci eu. Tristique et egestas quis ipsum suspendisse. Purus sit amet luctus venenatis lectus magna fringilla. Tincidunt ornare massa eget egestas purus. Fames ac turpis egestas integer eget aliquet. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Curabitur gravida arcu ac tortor dignissim convallis aenean et. Nulla pharetra diam sit amet nisl suscipit adipiscing. Adipiscing elit pellentesque habitant morbi. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Porta lorem mollis aliquam ut porttitor leo. Mi in nulla posuere sollicitudin. Commodo ullamcorper a lacus vestibulum. Nec ultrices dui sapien eget mi proin sed.
        </p>
    </div>

    <div class="article-metadata">
        <a name="promise"></a>
        <h2>Our promise</h2>
        <p>Our promise is to make sure your wellbeing and mental health are well catered for, and allow you to maintain a comfortable status both in and out of University.
        
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae elementum curabitur vitae nunc sed velit dignissim. Scelerisque in dictum non consectetur a erat nam at. Nulla pellentesque dignissim enim sit amet venenatis urna cursus eget. In hac habitasse platea dictumst quisque sagittis purus sit amet. Aliquam sem fringilla ut morbi tincidunt augue. Enim diam vulputate ut pharetra. Volutpat sed cras ornare arcu dui vivamus arcu felis. Non tellus orci ac auctor augue mauris augue. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere.

            Sit amet facilisis magna etiam tempor. Vitae justo eget magna fermentum iaculis eu non. Metus dictum at tempor commodo ullamcorper a lacus vestibulum sed. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Aliquet nibh praesent tristique magna sit amet. Cras ornare arcu dui vivamus arcu felis bibendum ut tristique. Laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean. Morbi tristique senectus et netus. Aenean pharetra magna ac placerat vestibulum. Arcu odio ut sem nulla pharetra diam sit. Praesent elementum facilisis leo vel fringilla est ullamcorper. Neque egestas congue quisque egestas diam in arcu cursus euismod. Ullamcorper sit amet risus nullam eget felis.
        </p>
    </div>

    <div class="article-metadata">
        <a name="events"></a>
        <h2>Events</h2>
        <p>We aim to provide both mentally stimulating and educational events in and out of university grounds. 
            From trips across the country, to valued career meet-ups, we aim to make you beneficiaries of these events.
        
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium nibh ipsum consequat nisl vel pretium lectus. Laoreet id donec ultrices tincidunt arcu. Non quam lacus suspendisse faucibus interdum posuere. A scelerisque purus semper eget duis at tellus at. Porttitor rhoncus dolor purus non. Pharetra sit amet aliquam id diam maecenas ultricies mi eget. Interdum velit laoreet id donec ultrices. Integer malesuada nunc vel risus commodo. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis. Malesuada fames ac turpis egestas. Enim sed faucibus turpis in eu mi bibendum. Nulla aliquet porttitor lacus luctus accumsan tortor. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Massa eget egestas purus viverra accumsan in nisl nisi.

            Morbi tristique senectus et netus et malesuada fames ac turpis. Convallis a cras semper auctor neque vitae tempus quam pellentesque. Elementum tempus egestas sed sed risus pretium quam vulputate. Elementum sagittis vitae et leo duis ut diam quam. Vel eros donec ac odio tempor orci dapibus ultrices. Rhoncus urna neque viverra justo nec. Non sodales neque sodales ut etiam sit amet. In egestas erat imperdiet sed. Enim neque volutpat ac tincidunt vitae semper quis. Non quam lacus suspendisse faucibus interdum. Sagittis purus sit amet volutpat consequat mauris nunc. Aenean et tortor at risus viverra adipiscing at. Nunc non blandit massa enim nec dui nunc mattis enim. Enim lobortis scelerisque fermentum dui. Egestas sed tempus urna et pharetra pharetra. Tincidunt id aliquet risus feugiat in ante metus dictum at. Tortor id aliquet lectus proin.
        </p>
    </div>




{% endblock content %}
</body>
</html>