{% extends "ModuleRegistrationSystem/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Contact us</h1>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
            <fieldset class="form-group">

            <legend class="border-bottom mb-4">Contact us with this form below</legend>
                {{ form | crispy }}
            </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
</div>

<div class="article-metadata">
    <h2>Lorem Ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget felis eget nunc lobortis mattis aliquam faucibus purus in. Rutrum tellus pellentesque eu tincidunt tortor. Nisl nisi scelerisque eu ultrices vitae auctor eu. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Viverra vitae congue eu consequat ac felis donec. Pulvinar elementum integer enim neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Et tortor consequat id porta. Nunc eget lorem dolor sed. Et magnis dis parturient montes nascetur ridiculus mus mauris vitae. Bibendum neque egestas congue quisque. Dui id ornare arcu odio. Vel orci porta non pulvinar. Integer enim neque volutpat ac tincidunt vitae semper.

        Amet tellus cras adipiscing enim eu turpis egestas. Massa placerat duis ultricies lacus. Amet facilisis magna etiam tempor orci eu. Tristique et egestas quis ipsum suspendisse. Purus sit amet luctus venenatis lectus magna fringilla. Tincidunt ornare massa eget egestas purus. Fames ac turpis egestas integer eget aliquet. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Curabitur gravida arcu ac tortor dignissim convallis aenean et. Nulla pharetra diam sit amet nisl suscipit adipiscing. Adipiscing elit pellentesque habitant morbi. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Porta lorem mollis aliquam ut porttitor leo. Mi in nulla posuere sollicitudin. Commodo ullamcorper a lacus vestibulum. Nec ultrices dui sapien eget mi proin sed.
    </p>
</div>

<div class="article-metadata">
    <h2>Lorem Ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget felis eget nunc lobortis mattis aliquam faucibus purus in. Rutrum tellus pellentesque eu tincidunt tortor. Nisl nisi scelerisque eu ultrices vitae auctor eu. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Viverra vitae congue eu consequat ac felis donec. Pulvinar elementum integer enim neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Et tortor consequat id porta. Nunc eget lorem dolor sed. Et magnis dis parturient montes nascetur ridiculus mus mauris vitae. Bibendum neque egestas congue quisque. Dui id ornare arcu odio. Vel orci porta non pulvinar. Integer enim neque volutpat ac tincidunt vitae semper.

        Amet tellus cras adipiscing enim eu turpis egestas. Massa placerat duis ultricies lacus. Amet facilisis magna etiam tempor orci eu. Tristique et egestas quis ipsum suspendisse. Purus sit amet luctus venenatis lectus magna fringilla. Tincidunt ornare massa eget egestas purus. Fames ac turpis egestas integer eget aliquet. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Curabitur gravida arcu ac tortor dignissim convallis aenean et. Nulla pharetra diam sit amet nisl suscipit adipiscing. Adipiscing elit pellentesque habitant morbi. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Porta lorem mollis aliquam ut porttitor leo. Mi in nulla posuere sollicitudin. Commodo ullamcorper a lacus vestibulum. Nec ultrices dui sapien eget mi proin sed.
    </p>
</div>

<div class="article-metadata">
    <h2>Lorem Ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget felis eget nunc lobortis mattis aliquam faucibus purus in. Rutrum tellus pellentesque eu tincidunt tortor. Nisl nisi scelerisque eu ultrices vitae auctor eu. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Viverra vitae congue eu consequat ac felis donec. Pulvinar elementum integer enim neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Et tortor consequat id porta. Nunc eget lorem dolor sed. Et magnis dis parturient montes nascetur ridiculus mus mauris vitae. Bibendum neque egestas congue quisque. Dui id ornare arcu odio. Vel orci porta non pulvinar. Integer enim neque volutpat ac tincidunt vitae semper.

        Amet tellus cras adipiscing enim eu turpis egestas. Massa placerat duis ultricies lacus. Amet facilisis magna etiam tempor orci eu. Tristique et egestas quis ipsum suspendisse. Purus sit amet luctus venenatis lectus magna fringilla. Tincidunt ornare massa eget egestas purus. Fames ac turpis egestas integer eget aliquet. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Curabitur gravida arcu ac tortor dignissim convallis aenean et. Nulla pharetra diam sit amet nisl suscipit adipiscing. Adipiscing elit pellentesque habitant morbi. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Porta lorem mollis aliquam ut porttitor leo. Mi in nulla posuere sollicitudin. Commodo ullamcorper a lacus vestibulum. Nec ultrices dui sapien eget mi proin sed.
    </p>
</div>


{% endblock content %}
</body>
</html>