{% extends "ModuleRegistrationSystem/base.html" %}
{% block content %}
<h1> Information about {{ object }} </h1>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">Modules on course: 
                {% for module in object.module_set.all %}
                <a class="mr-2" href="{% url 'ModuleRegistrationSystem:module-detail' module.code %}">{{ module.name }}.</a>
                {% endfor %}
                </br>
                <small class="text-muted">{{ object.duration }} long. </small> 
            </div>
        </br>
            <p class="article-content">{{ object.description }}</p></br>
        </div>
    </article>
{% endblock content %}
</body>
</html>

