{% extends "ModuleRegistrationSystem/base.html" %}
{% block content %}
    <h1>The modules we offer</h1>
{% for module in modules %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
               
                <small class="text-muted">{{ module.credit }} credits offered. </small>
            </div>
            <h2><a class="article-title" href="#">{{ module }}</a></h2>
            <p class="article-content">{{ module.description }}</p>
        </div>
    </article>
{% endfor %}

{% if user.is_superuser %}
<h3> HELLO </h3>
{% else %}
<h3>.</h3>
{% endif %}

{% endblock content %}
</body>
</html>