{% extends "ModuleRegistrationSystem/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>The modules we offer:</h1>
{% for module in modules %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">Courses allowed to register: {% for courses_Allowed_To_Register in module.courses_Allowed_To_Register.all %} <a class="mr-2" href="{% url 'ModuleRegistrationSystem:course-detail' courses_Allowed_To_Register.name %}"> {{ courses_Allowed_To_Register }}. </a>
                    {% endfor %}</a>
                </br>
                <small class="text-muted">{{ module.credit }} credits offered. Module Code: {{ module.code }}</small> 
            </div>
            <h2><a class="article-title" href="{% url 'ModuleRegistrationSystem:module-detail' module.code %}">{{ module }}</a></h2>
            <p class="article-content">{{ module.description }}</p>
            <div class="article-metadata"></div>
            {% if user.is_authenticated %}

                {% if module.availability == True %}
                    <form method="POST" action="{% url 'ModuleRegistrationSystem:module-registration' module.code %}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button class="btn btn-success" type="submit">Register Now</button>
                    </form>
                {% elif module.availability == False %}
                    <a class="mr-2">This module is not currently available.</a>
                {% endif %}
            {% else %}
                <a class="mr-2">You are not logged in, you must login to register for a module.</a>
                <a class="ml-2" href="{% url 'login' %}">Login</a>
            {% endif %}
    </article>
{% endfor %}

{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
{% endif %}
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
{% endif %}
{% endfor %}
{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
{% endif %}
{% endif %}

{% endblock content %}
</body>
</html>