{% extends "ModuleRegistrationSystem/base.html" %}
{% block content %}
    <h1>The modules we offer</h1>
{% for module in modules %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">Courses allowed to register: {% for coursesAllowedToRegister in module.coursesAllowedToRegister.all %}{{ coursesAllowedToRegister }}. {% endfor %}</a>
                </br>
                <small class="text-muted">{{ module.credit }} credits offered. Module Code: {{ module.code }}</small> 
            </div>
            <h2><a class="article-title" href="#">{{ module }}</a></h2>
            <p class="article-content">{{ module.description }}</p>
        </div>
    </article>
{% endfor %}

{% endblock content %}
</body>
</html>