{% extends "ModuleRegistrationSystem/base.html" %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% block content %}
    <h1>Information about {{ object }} </h1>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">Courses allowed to register: {% for courses_Allowed_To_Register in object.courses_Allowed_To_Register.all %} <a class="mr-2" href="{% url 'ModuleRegistrationSystem:course-detail' courses_Allowed_To_Register.name %}"> {{ courses_Allowed_To_Register }}. </a>
                    {% endfor %}</a>
                </br>
                <small class="text-muted">{{ object.credit }} credits offered. Module Code: {{ object.code }}</small> 
            </div>
        </br>
            <p class="article-content">{{ object.description }}</p></br>
            <p class="article-content">In person or online: {{ object.category }}</p></br>
            {% if object.availability == True %}
                <p class="article-content">Module available at the moment: Yes</p>
            {% else %}
                <p class="article-content">Module available at the moment: No</p>
            {% endif %}
            <div class="article-metadata">
            </div>
            <a class="mr-2">Students registered to module: </a>
            {% for registration in module.moduleregistrations.all %}
                <div>
                    <a class="mr-2" >{{ registration.student }}</a>
                    <img class="rounded-circle article-img" src="{{ registration.student.studentaccount.image.url }}"/>
                    <a class="mr-2"></a>
                </div>
                {% empty %}
                    <a class="mr-2">No students are registered to this module.</a>
            {% endfor %}
            </br>
            <div class="article-metadata">
            </div>
        </br>

        {% if user.is_authenticated %}

                {% if user|if_registered:module %}

                    <a class="mr-2">You are already registered for this module, view registrations here: </a>
                    <a class="ml-2" href="{% url 'ModuleRegistrationSystem:registrations' user.username %}">my registrations</a>

                {% else %}
                
                    {% if module.availability == True %}
                        <form method="POST" action="{% url 'ModuleRegistrationSystem:module-registration' module.code %}">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button class="btn btn-success" type="submit">Register Now</button>
                        </form>

                    {% elif module.availability == False %}
                        <a class="mr-2">This module is not currently available.</a>
                    {% endif %}
                {% endif %}

        {% else %}
            <a class="mr-2">You are not logged in, you must login to register for a module.</a>
            <a class="ml-2" href="{% url 'login' %}">Login</a>
        {% endif %}
                    </br>
            {% if user.is_superuser %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'ModuleRegistrationSystem:module-update' object.code %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'ModuleRegistrationSystem:module-delete' object.code %}">Delete</a>
            {% endif %}
        </div>
    </article>

{% endblock content %}
</body>
</html>