{% extends "ModuleRegistrationSystem/base.html" %}
{% block content %}
    <h1>My registrations</h1>
    {% for registration in registrations %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2">Date registered: {{ registration.dateOfRegistration }} </a> 
                    </br>
                    <small class="text-muted"></small> 
                </div>
                <h2><a class="article-title">{{ registration.module }}</a></h2>
                <p class="article-content"></p>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Deregister</a>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
</body>
</html>