{% extends "ModuleRegistrationSystem/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <article class="media content-section">
                <div class="media-body">
                    <h2><a class="article-title">{{ object.module}}</a></h2>
                    <p class="article-content"></p>{{ object.module.credit }} credits offered.</br>
                    <p class="article-content"></p>Module Code: {{ object.module.code }}</br>
        </fieldset>
        <legend class="border-bottom mb-4">Delete registration?</legend>
        <div class="form-group">
            <button class="btn btn-outline-danger" href="{% url 'ModuleRegistrationSystem:registrations' object.student %}" type="submit">Yes, Delete registration </button>
            <a class="btn btn-outline-secondary" href="{% url 'ModuleRegistrationSystem:registrations' object.student %}">Cancel</a>
        </div>
    </form>
{% endblock content %}